<h4>Terms and Conditions</h4>
<br>
<font size="2">
* Freight and sales tax when applicable will be invoiced separately. 
<br>
* Standard lead time for production is 10 business days. 
<br>
External variances may affect standard lead times.
<br><br>

<TABLE>
<TR>
<TD ALIGN=CENTER>
<B>TERMS AND CONDITIONS</B>
<BR>
<font size="2">
50% Deposit is required to initiate the order
<br>
Remaining balance is required prior to release of the shipment.
<br>
100% payment in advance for rentals & services.
<br>
7.25% sales tax when applicable.
<br>
Shipping & handling are additional - FOB Manufacturer.
<br>
Please allow four to six weeks for Production to avoid rush charges.
<br>
Art not supplied within ion's guidelines may incur additional charges.
<br>
Changes to design may affect cost.
<br>
This estimate is valid for 30 days.
<br>
<br>
<font color=red>
<b>Order Cancelations must be received within 48 hours from the day the order was placed.  To cancel an order please call Kim Gillette @ 630-227-4561 or Mary Levi @ 630-227-4564.  No orders will be cancelled after 48 hours, unless arrangements have been discussed.</b>
</font>
</font>
</td>
</tr>
</table>
</font>
<br>


